* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
}
.topbar {
  height: 5.5rem;
  padding-inline: 1.875rem;
  background-color: black;
  background-size: auto;
  margin: 0%;
}
.topbar-text-1 {
  color: white;
  padding-left: 0.75rem;
  padding-block: 0.125rem 0.25rem;
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 0.125rem;
  margin-left: 0.75rem;
  margin-top: 0.25rem;
}
.topbar-text {
  margin-inline: 0;
  color: white;
  text-align: justify;
  margin-block: 1.1875rem;
  margin-inline: 45px;
}

.container {
  display: flex;
  align-items: center;
}
